@use "variables" as v;
@use "mixins" as m;
@use "animations" as a;

.nav {
  width: 100%;
  padding: 2rem 0;
  font-family: v.$font-mono;
  font-size: 1rem;
  position: relative;
  z-index: 100;

  @include m.tablet {
    padding: 1.5rem 2rem;
  }

  @include m.mobile {
    display: none;
  }
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: linear-gradient(90deg, v.$primary-color, lighten(v.$primary-color, 15%));
  transition: width 0.1s linear;
  z-index: 101;
}

.list {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  @include m.tablet {
    justify-content: center;
    gap: 1.5rem;
  }
}

.item {
  display: flex;
  width: 7rem;
  justify-content: center;
  @include a.entrance-animation(fadeInDown, v.$transition-slow, 0.1s);

  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      animation-delay: #{0.1 + ($i * 0.1)}s;
    }
  }

  &::after {
    display: block;
    margin: auto 0 4px 2px;
    content: "";
    width: 0.5rem;
    height: 0.2rem;
    background: #ffffff;
    opacity: 0;
  }

  @include m.tablet {
    width: auto;
    padding: 0 0.75rem;
  }
}

.link {
  display: flex;
  gap: 0rem;
  transition:
    gap v.$transition-normal v.$ease-default,
    opacity v.$transition-normal v.$ease-default;
}

.slash {
  color: v.$primary-color;
}

.label {
  text-transform: lowercase;
}


// Desktop hover effects
@media (hover: hover) and (pointer: fine) {
  .list:hover .link {
    opacity: 0.3;
  }

  .item:hover .link {
    gap: 1rem;
    opacity: 1;
  }

  .item:hover::after {
    animation: caretBlink 1s infinite;
  }
}

@media (prefers-reduced-motion: reduce) {
  .item:hover .link {
    gap: 0rem;
  }

  .item:hover::after {
    animation: none;
  }

  .item {
    opacity: 1;
    animation: none;
  }
}

@keyframes caretBlink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
