@use "variables" as v;
@use "mixins" as m;

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;

  @include m.mobile {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
}

.slash {
  color: v.$primary-color;
  font-family: v.$font-mono;
  margin-right: 0.25rem;
}
