@use "variables" as v;
@use "mixins" as m;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;

  @include m.mobile {
    padding-bottom: 4rem; // Space for bottom navigation
  }
}
